<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <title>solution 1</title>
    <link rel="stylesheet" href="/stylesheet/index.css" >
  </head>
  <body>
    <div class="lunch-box" ng-controller="LunchCheckController">
      <input type="text"
      ng-model="mealsList"> <br />
      <p>
        Note: Empty items i.e , , does not count.
      </p><br />
      <input type="button" ng-click="checkMeals()" value="Check If Too Much"> <br />

      <div class="{{messageClass}}">
        {{message}}
      </div>

    </div>
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
